<accordion *ngFor="let job of experience; let i = index">
  <accordion-group (click)="toggleShadow(i)">
    <span class="btn btn-link btn-block" accordion-heading [class.shadow]="shadow[i]">
      <div class="d-md-flex justify-content-between">
        <div class="job-title">
          <p class="align-middle">
            {{job.title}}
          </p>
        </div>
        <div class="dates-worked">
          <p>
            {{job.startDate | date:'MMMM y'}}-{{job.endDate | date:'MMMM y'}}
          </p>
        </div>
      </div>
    </span>
    <div class="card h-100">
      <div class="card-header">
        {{job.company}}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="comments col-md-6">
            {{job.comments}}
          </div>
          <div class="description col-md-6">
            <ul class="description" *ngFor="let detail of job.description">
              <li>{{detail}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </accordion-group>
</accordion>
