@import '../variables';
p {
  margin:auto;
}
.shadow {
  background-color: $navbar-dark-color;
}
.shadow, .card {
  box-shadow: $card-shadow;
}
.job-title {
  font-weight: bold;
}
.dates-worked {
  font-style: italic;
}
.btn {
  white-space: normal;
}
