.dates-worked, .location {
  justify-content: flex-end;
  font-size: 1.2em;
}
.dates-worked {
  font-style: italic;
}
.job-title, .company {
  font-size: 1.3em;
}
.details-header, .details-body {
  padding-top:  16px;
  padding-bottom: 16px;
}
ul, .list-divider, .comments {
  padding: 3px;
}
ul {
  margin: 0px;
  list-style-type: none;
}
