@import '../variables';
p {
  margin:auto;
}
.selected-job {
  font-size: 1.8em;
}
.card {
  box-shadow: $card-shadow;
}
.job-title {
  font-size: 1.2em;
}
.company {
  font-size: 1.5em
}
.dates-worked {
  font-style: italic;
}
.btn {
  white-space: normal;
}
