@import '~@angular/material/_theming';

@include mat-core();

$primary: mat-palette($mat-light-blue, 700, 900, 300);
$accent: mat-palette($mat-cyan, 700, 900, 300);
$warn: mat-palette($mat-orange, 800, 900, 600);

$dark-primary: mat-palette($mat-indigo, 700, 900, 300);
$dark-accent: mat-palette($mat-blue, 700, 900, 300);
$dark-warn: mat-palette($mat-orange, 800, 900, 600);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
$light-theme: mat-light-theme($primary, $accent, $warn);

.light-theme {
  @include angular-material-theme($light-theme);
}
.dark-theme {
  @include angular-material-theme($dark-theme);
}
