<mat-toolbar color="primary" class="mat-elevation-z6">
  <button type="button" mat-icon-button aria-label="Toggle sidenav" (click)="drawer.toggle()" *ngIf="isSmallScreen">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="site-header">{{ info.name }}</span>
  <span class="nav-spacer"></span>
  <div *ngIf="!isSmallScreen">
    <a mat-icon-button href="tel:{{ info.phone }}">
      <mat-icon>
        phone
      </mat-icon>
    </a>
    <a mat-icon-button href="mailto: {{ info.email }}">
      <mat-icon>
        email
      </mat-icon>
    </a>
    <span>
      <a mat-button routerLink="/about">
        About
      </a>
    </span>
    <span>
      <a mat-button routerLink="/skills">
        Skills
      </a>
    </span>
    <span>
      <a mat-button routerLink="/experience">
        Experience
      </a>
    </span>
    <span>
      <a mat-button (click)="getReferences()">
        References
      </a>
    </span>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" color="primary" [hasBackdrop]="false">
  <mat-sidenav #drawer [autoFocus]="false" fixedInViewport="true" [attr.role]="isSmallScreen ? 'dialog' : 'navigation'" mode="over" position="start">
    <mat-nav-list>
      <div mat-list-item fxLayout="row" fxLayoutAlign="space-around center" class="contact-buttons">
        <a mat-icon-button href="tel: {{ info.phone }}">
          <mat-icon color="accent" matListIcon>phone</mat-icon>
        </a>
        <a mat-icon-button href="mailto: {{ info.email }}">
          <mat-icon color="accent" matListIcon>email</mat-icon>
        </a>
      </div>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/about" (click)="drawer.close()">About</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/skills" (click)="drawer.close()">Skills</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/experience" (click)="drawer.close()">Experience</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="getReferences()" (click)="drawer.close()">References</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
