body {
  overflow-y: scroll;
}
$body-bg: #cfcfcf;
$body-color: #000000;


// Links
$link-color: #000000;
$link-decoration: none;
$link-hover-color: #6e6a7a;
$link-hover-decoration: none;

$navbar-dark-color: #ababab;
$navbar-dark-hover-color: #d7d7d7;
$navbar-dark-active-color: #ffffff;
$navbar-dark-disabled-color: #373737;
$navbar-dark-toggler-border-color: #ababab;
